.wrapper {
  display: flex;
  justify-content: center;
}

.inner {
  width: 100%;
  max-width: 800px;
}

.thumbnail {
  margin-top: 40px;
}

.section {
  padding: 40px;
  margin-top: 40px;
  background: #fff;
  border-radius: 8px;
}

/* 記事内スタイル */

.section h2 {
  font-size: 24px;
  font-weight: bold;
}

.section h3 {
  font-size: 20px;
  font-weight: bold;
}

.section ol,
.section ul,
.section dl {
  padding-left: 16px;
}

.section li {
  line-height: 1.8;
  list-style: outside;
}

.section pre {
  margin: 2em 0 0;
}

.section code {
  margin: 0 0.5em;
}

.section pre > code {
  margin: 0;
}

.section blockquote {
  padding: 16px;
  margin-top: 2em;
  color: #888;
  border-left: 4px solid #ddd;
}

.section table {
  margin-top: 2em;
}

.section th,
.section td {
  padding: 8px;
  line-height: 1.8;
  border: 1px solid #888;
}

.section p:not(:first-child),
.section h2:not(:first-child),
.section h3:not(:first-child),
.section h4:not(:first-child),
.section h5:not(:first-child),
.section h6:not(:first-child),
.section ol:not(:first-child),
.section ul:not(:first-child),
.section dl:not(:first-child) {
  margin-top: 2em;
}

@media screen and (max-width: 767px) {
  .section {
    padding: 0;
    background: none;
  }

  .section h2 {
    font-size: 20px;
  }

  .section h3 {
    font-size: 16px;
  }

  .section p,
  .section li,
  .section pre,
  .section code,
  .section blockquote,
  .section th,
  .section td {
    font-size: 14px;
  }

  .section blockquote {
    background: #fff;
  }
}
