.wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0 18px;
  background: #3a3a3a;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.banner {
  margin-top: 20px;
}
