.title {
  margin-top: 4px;
  color: #3a3a3a;
}

.excerpt {
  margin-top: 4px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4px;
}

.tag {
  margin-top: 4px;
}

.tag:not(:last-child) {
  margin-right: 4px;
}
