.latestArticles {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 40px 50px;
  justify-content: center;
  margin-top: 40px;
  list-style: none;
}

.articlesWrapper {
  padding-top: 40px;
  margin-top: 80px;
  border-top: 1px solid #ddd;
}

.moreLinkWrapper {
  margin-top: 80px;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .latestArticles {
    grid-template-columns: none;
  }

  .moreLinkWrapper {
    font-size: 16px;
  }
}
